name: pf2-ut
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
jobs:
  run-unittests:
    runs-on: ubuntu-latest

    env:
      PARSER3_DIST_URL: "https://www.parser.ru/f/1/download/parser346/parser3_4_6_debian10x64.tar.gz"
      PARSER3_LIBCURL: "libcurl.so.4"

    steps:
      - name: "Configure Parser 3"
        run: |
          cd $HOME
          mkdir -p $HOME/bin
          mkdir $HOME/parser3
          cd parser3
          wget --no-verbose $PARSER3_DIST_URL -O parser3.tar.gz
          tar xvfz parser3.tar.gz
          ln -fs `pwd`/parser3.cgi $HOME/bin/
          ln -fs `pwd`/lib $HOME/bin/lib

      - uses: actions/checkout@v2

      - name: "Start test containers"
        run: |
          /bin/bash ut/start_test_containers.sh

      - name: "Run tests"
        run: |
          $HOME/bin/parser3.cgi ut/run_tests.p -v -r
