name: pf2-ut
on: [push, pull_request]
jobs:
  run-unittests:
    runs-on: ubuntu-latest

    env:
      PARSER3_DIST_URL: "https://www.parser.ru/f/1/download/parser346/parser3_4_6_debian10x64.tar.gz"
      PARSER3_LIBCURL: "libcurl.so.4"
      PF2_UT_HTTPBIN: "http://localhost:8180"

    services:
      httpbin:
        image: kennethreitz/httpbin
        ports:
          - 8180:80

    steps:
      - name: "Configure Parser 3"
        run: |
          cd $HOME
          mkdir -p $HOME/bin
          mkdir $HOME/parser3
          cd parser3
          wget --no-verbose $PARSER3_DIST_URL -O parser3.tar.gz
          tar xvfz parser3.tar.gz
          ln -fs `pwd`/parser3.cgi $HOME/bin/parser3
          ln -fs `pwd`/lib $HOME/bin/lib
          cp -f ./lib/system/* ./lib/

      - uses: actions/checkout@v2
      - name: "Run tests"
        run: |
          $HOME/bin/parser3 ut/run_tests.p
